h1 {
    color: blue;
}

@media all and (max-width: 600px) {
    body {
        background-color: red;
    }
}

#projects {
    padding: 100px;
    margin-top: 1000px;
}

#welcome-section {
    height: 100vh;
    background-image: url(pexels.jpg);
    background-size: cover;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}