h1 {
    color: blue;
}

@media all and (max-width: 600px) {
    body {
        background-color: red;
    }
}

#welcome-section {
    text-align: center;
    color: white;
    height: 100vh;
    background-image: url(pexels.jpg);
    background-size: cover;
}

#centered-welcome {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 14px;
    text-decoration: none;
}